<div class="center jumbotron">
  <h1>Welcome to MYBLOG</h1>

  <h2>
    This is the home page for 
    <a href="http://www.railstutorial.org/">creating your own blog</a>
    
  </h2>

   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

